<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link href="<%= assetConfigs.app.css %>" rel="stylesheet" type="text/css"/>
  <script>
    window.__CONFIG__ = <%- JSON.stringify(config) %>;
  </script>
</head>
<body>
  <div id="app"><%- content %></div>
  <% if (config.get('wds')) { %>
    <script src="http://localhost:<%= config.get('port') %>/webpack-dev-server.js"></script>
  <% } %>
  <script src="<%= assetConfigs.vendor.js %>"></script>
  <script src="<%= assetConfigs.app.js %>"></script>
</body>
</html>
